<footer class="app-footer" id="app-footer">
  <div class="footer-container container">
     <div class="footer-grid">
       <!-- Right Side: Brand Logo, Description & Contact info -->
       <div class="footer-col contact-col">
         <a routerLink="/" class="footer-logo">
           <img src="/logo-dark.png" alt="Dar ElWasl Logo" class="footer-logo-img">
         </a>
         <p class="brand-desc">
           {{ 'FOOTER.BRAND_DESC' | translate }}
         </p>
         
         <h3 class="col-title contact-heading">{{ 'FOOTER.CONTACT_TITLE' | translate }}</h3>
         <a href="mailto:elwaslbook2023@gmail.com" class="contact-item clickable-footer-contact">
           <mat-icon>email</mat-icon>
           <span>elwaslbook2023&#64;gmail.com</span>
         </a>
         <a href="tel:+201118440716" class="contact-item clickable-footer-contact">
           <mat-icon>phone</mat-icon>
           <span style="direction: ltr; unicode-bidi: embed;">+201118440716</span>
         </a>
         <a href="https://maps.app.goo.gl/Zg4CHwDNgW9nDEcy8?g_st=ic" target="_blank" rel="noopener noreferrer" class="contact-item clickable-footer-contact">
           <mat-icon>location_on</mat-icon>
           <span>{{ 'FOOTER.ADDRESS' | translate }}</span>
         </a>
         
         <div class="social-icons">
           <a href="#" class="social-link" aria-label="Facebook"><mat-icon>facebook</mat-icon></a>
           <a href="#" class="social-link" aria-label="Twitter"><mat-icon>share</mat-icon></a>
           <a href="#" class="social-link" aria-label="Instagram"><mat-icon>photo_camera</mat-icon></a>
         </div>
       </div>
 
       <!-- Left Side: Comprehensive Navigation Columns (RTL aligned) -->
       <div class="footer-nav-columns">
         <div class="footer-col">
           <h3 class="col-title">{{ 'FOOTER.PUBLICATIONS_TITLE' | translate }}</h3>
           <ul class="col-links">
             <li><a routerLink="/books">{{ 'FOOTER.LINK_BOOKS' | translate }}</a></li>
             <li><a routerLink="/audiobooks">{{ 'FOOTER.LINK_AUDIOBOOKS' | translate }}</a></li>
             <li><a routerLink="/games">{{ 'FOOTER.LINK_GAMES' | translate }}</a></li>
             <li><a routerLink="/offers">{{ 'FOOTER.LINK_OFFERS' | translate }}</a></li>
           </ul>
         </div>
 
         <div class="footer-col">
           <h3 class="col-title">{{ 'FOOTER.ABOUT_TITLE' | translate }}</h3>
           <ul class="col-links">
             <li><a routerLink="/about-us">{{ 'FOOTER.LINK_ABOUT' | translate }}</a></li>
             <li><a routerLink="/contract-with-us">{{ 'FOOTER.LINK_CONTRACTING' | translate }}</a></li>
             <li><a routerLink="/contact-us">{{ 'FOOTER.LINK_CONTACT' | translate }}</a></li>
             <li><a routerLink="/exhibitions">{{ 'FOOTER.LINK_EXHIBITIONS' | translate }}</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 
   <!-- Bottom grey bar -->
   <div class="footer-bottom-bar">
     <div class="container bottom-container">
       <!-- Copyright Notice -->
       <div class="bottom-right">
         <p class="copyright-text">{{ 'FOOTER.COPYRIGHT' | translate }}</p>
       </div>
       
       <!-- Payment Logos -->
       <div class="bottom-left payment-logos-group">
         <span class="payment-icon visa" title="Visa"></span>
         <span class="payment-icon mastercard" title="Mastercard"></span>
         <span class="payment-icon amex" title="American Express"></span>
       </div>
     </div>
   </div>
 </footer>
